DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Site URL (important for SEO, sitemap, and robots.txt)
NEXT_PUBLIC_SITE_URL=https://developerssecrets.com
